.drawer-container {
  height: 100vh;
}

.main-app {
  height: 100%;
}

.app-sidenav {
  width: 250px;
}

.app-sidenav a {
  color: #fff;
  text-decoration: none;
}

.content {
  padding: 20px;
}

.main-action {
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 90210;
}
